.navigationContiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
   
}

.navigationGroup{
    display: flex;
    column-gap: 4rem;
   
}

.brandName{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.87rem;
}

.navLinks,
.cartGroup{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size:18px;
}

.cart{
    display: flex;
    align-items: center;
    position: relative;
    gap:1rem;
}

.cartIcon{
    display: flex; /* Align items in a row */
    align-items: center; /* Vertically align items */
    gap: 8px; /* Add a consistent gap between the icon and the text */
}

